<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <itemMenu id="100">
    <titol>Generalidades del sellado del catéter</titol>
    <idPadre>0</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>0</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu  id="110">
    <titol>Generalidades</titol>
    <idPadre>100</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="120">
    <titol>Guidelines</titol>
    <idPadre>100</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu  id="130">
    <titol>Técnica</titol>
    <idPadre>100</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu  id="140">
    <titol>Duración</titol>
    <idPadre>100</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu  id="150">
    <titol>Reacciones adversas relacionadas</titol>
    <idPadre>100</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu  id="160">
    <titol>Conclusiones</titol>
    <idPadre>100</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu  id="200">
    <titol>Manejo de infecciones asociadas a catéteres</titol>
    <idPadre>0</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>0</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu  id="205">
    <titol>Bacterias gram negativas</titol>
    <idPadre>200</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>1</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu  id="210">
    <titol>Sellado de catéter gram negativos</titol>
    <idPadre>205</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
<!--
  <itemMenu id="2100">
    <titol>BGN</titol>
    <idPadre>205</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>2</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
-->
  <itemMenu id="2110">
    <titol>BGN fermentadores: con más frecuencia aislamientos de E.coli, Klebsiella pneumanor, Enterobacter.</titol>
    <idPadre>205</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2211">
    <titol>Cepas sensibles: amiklacina 2mg/ml, gentamicina 5mg/mo o ciprofloxacino 2mg/ml</titol>
    <idPadre>2110</idPadre>
    <ficAsociado>CepasSensibles.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2212">
    <titol>Cepas BLEE (betalactamaasas de espectro extendido) o con algún tipo de carbapenemasas asociada.</titol>
    <idPadre>2110</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2213">
    <titol>La indicación de retirada de mismo parece claro.</titol>
    <idPadre>2212</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>5</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2120">
    <titol>BGN no fermentadores: es frecuente encontrarnos cepas de Acinetobactersp. y Stenotrophomonas maltophilia y Pseudomonas.</titol>
    <idPadre>205</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2121">
    <titol>De forma general se deberá retirar el catéter.</titol>
    <idPadre>2120</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2122">
    <titol>Si no está recomendada la retirada se deberá seleccionar antibiótico según antibiograma y un agente que favorezcan la destrucción del biofilm como pueden ser la heparina, N-acetilcisteina, EDTA, etc.</titol>
    <idPadre>2120</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2123">
    <titol>Stenotrophomonas maltophilia:ceztazidima o ciprofloxacino</titol>
    <idPadre>2122</idPadre>
    <ficAsociado>Stenotrophomonas.pdf</ficAsociado>
    <nivel>5</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2124">
    <titol>Pseudomonas: agentes que favorezcan la destrucción del biofilm son necesarios dada la gran faciliad de este microorganismo en producirlo.</titol>
    <idPadre>2122</idPadre>
    <ficAsociado>Pseudomonas.pdf</ficAsociado>
    <nivel>5</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="215">
    <titol>Bacterias gram positivas</titol>
    <idPadre>200</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>1</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="220">
    <titol>Sellado de catéter gram positivos</titol>
    <idPadre>215</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
<!--
  <itemMenu id="2200">
    <titol>Gram positivos</titol>
    <idPadre>215</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>2</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
-->
  <itemMenu id="2210">
    <titol>SCN</titol>
    <idPadre>215</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2211">
    <titol>Vancomicina: salvar catéter en 84% de los casos</titol>
    <idPadre>2210</idPadre>
    <ficAsociado>vancomicina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2212">
    <titol>Alternativa: teicoplanina, daptomicina</titol>
    <idPadre>2210</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2213">
    <titol>Estafilococos sensibles a la meticilina - cefazolina</titol>
    <idPadre>2210</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2220">
    <titol>S.aureus</titol>
    <idPadre>215</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2221">
    <titol>Solo debe sellarse el catéter en circunstancias especiales enumeradas anteriormente</titol>
    <idPadre>2220</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2222">
    <titol>SAMS - cefazolina</titol>
    <idPadre>2220</idPadre>
    <ficAsociado>cefazolina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2223">
    <titol>SARM - vancomicina o teicoplanina</titol>
    <idPadre>2220</idPadre>
    <ficAsociado>teicoplanina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2224">
    <titol>AB con actividad antibofilms pueden emplearse en el tratamiento de SA como Daptomicina y la tigeciclina</titol>
    <idPadre>2220</idPadre>
    <ficAsociado>Daptomicina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2230">
    <titol>E.faecalis</titol>
    <idPadre>215</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2231">
    <titol>Ampicilina</titol>
    <idPadre>2230</idPadre>
    <ficAsociado>Ampicilina</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2240">
    <titol>E.faecium</titol>
    <idPadre>215</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2241">
    <titol>vancomicina</titol>
    <idPadre>2240</idPadre>
    <ficAsociado>vancomicina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2242">
    <titol>alternativas (en caso de resistencia vanco):daptomicina,linezolid, teicoplanina</titol>
    <idPadre>2240</idPadre>
    <ficAsociado>linezolid.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2243">
    <titol>vancomicina 2mg/ml + gentamicina 2mg/ml</titol>
    <idPadre>2240</idPadre>
    <ficAsociado>gentamicina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2250">
    <titol>Bacillus sp, Micrococcus sp o Propionibacterium</titol>
    <idPadre>215</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2251">
    <titol>especies menos virulentas pero dificiles de eliminar - retirada del catéter</titol>
    <idPadre>2250</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu  id="225">
    <titol>Infección por hongos</titol>
    <idPadre>200</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>1</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu  id="230">
    <titol>Tratamiento de la infección por hongos</titol>
    <idPadre>225</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
<!--
  <itemMenu id="2300">
    <titol>Hongos</titol>
    <idPadre>225</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>2</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
-->
  <itemMenu id="2310">
    <titol>Candida albicans/glabrata</titol>
    <idPadre>225</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2311">
    <titol>AnfB-deoxicolato 2mg/mL o 2.5mg/ml 12h dos veces al dia</titol>
    <idPadre>2310</idPadre>
    <ficAsociado>unPDF.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2312">
    <titol>AnfB-Liposomal 2.67mg/mL 8h 2.67mg/ml 8h</titol>
    <idPadre>2310</idPadre>
    <ficAsociado>anfotericinaBLiposomal.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2313">
    <titol>Etanol 70%</titol>
    <idPadre>2310</idPadre>
    <ficAsociado>anfotericinaBLiposomal.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="2320">
    <titol>Candida lipolytica</titol>
    <idPadre>225</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>3</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="2321">
    <titol>Caspofungina 3.33 mg/mL 12h</titol>
    <idPadre>2320</idPadre>
    <ficAsociado>caspofungina.pdf</ficAsociado>
    <nivel>4</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <!--Fichas de preparacion-->
  <itemMenu  id="300">
    <titol>Fichas de preparación</titol>
    <idPadre>0</idPadre>
    <ficAsociado></ficAsociado>
    <nivel>0</nivel>
    <esPadre>1</esPadre>
  </itemMenu>
  <itemMenu id="310">
    <titol>Protocolo elaboración del sellado de catéter</titol>
    <idPadre>300</idPadre>
    <ficAsociado>TXT</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
  <itemMenu id="320">
    <titol>Fichas según fármaco</titol>
    <idPadre>300</idPadre>
    <ficAsociado>FILTRO</ficAsociado>
    <nivel>1</nivel>
    <esPadre>0</esPadre>
  </itemMenu>
</menu>