#divListaRutasPendientes ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

}

#divListaRutasPendientes ul li{
    padding: 0px;
    border: 1px solid #dddddd;
    font-size: 14px !important;
    margin: 5px;
    -webkit-box-shadow: 0 0 2px rgba(93,82,14,0.2)  /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 2px rgba(93,82,14,0.2)  /*{c-active-background-color}*/;
    box-shadow: 0 0 2px rgba(93,82,14,0.2)  /*{c-active-background-color}*/;
}

#divListaRutasConsulta ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

}

#divListaRutasConsulta ul li{
    padding: 0px;
    border: 1px solid #dddddd;
    font-size: 14px !important;
    margin: 5px;
    -webkit-box-shadow: 0 0 2px rgba(93,82,14,0.2)  /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 2px rgba(93,82,14,0.2)  /*{c-active-background-color}*/;
    box-shadow: 0 0 2px rgba(93,82,14,0.2)  /*{c-active-background-color}*/;
}

.rutaCheck{
    font-size: 12px !important;
    color: #4986a2 !important;
    width: 30px;
    text-align: center;
}


.rutaImg{
    width: 60px;
}
.rutaImg img{
    height: 75px;
}
.rutaTexto{
    color: #777777 !important;
    font-size: 12px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 18px;
}

.rutaFecha{
    font-size: 12px !important;
    color: #4986a2 !important;
}
.rutaDuracion{
    font-size: 12px !important;
    color: #4986a2 !important;
    padding-left: 10px;
}

#tablaFichaRuta td
{
    padding: 0px 5px;
    vertical-align: middle;
}
.marcaInicio
{
    width: 16px;
}
.marcaInicio div
{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px none #46f800;
    background-color: #46f800;
    width: 16px;
    height: 16px;
}

.marcaFin
{
    width: 16px;
}
.marcaFin div
{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px none #fe0000;
    background-color: #fe0000;
    width: 16px;
    height: 16px;
}

.marcaPunto
{
    width: 16px;
}
.marcaPunto img
{
    border: none;
    width: 16px;
    height: 16px;
}


.rutaFechaFicha{
    font-size: 14px !important;
    color: #4986a2 !important;
    padding: 5px !important;
}

.botonGrisMasMenos {
    padding: 5px;
    width: 30px!important;
    height: 30px!important;
}
.botonGrisMasMenos img {
    width: 20px!important;
    height: 20px!important;
}

.editarMasMenos{
    width: 30px!important;
}

.labels {
    color: #46f800 ;
    background-color: #008cff;
    font-family: "Arial";
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
}


#tablaEditarRuta{
    line-height: none !important;
}
.sliderIni
{
    width: 16%;
    border-bottom: 1px solid #f3f3f3;
}
.sliderIni div
{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px none #46f800;
    background-color: #46f800;
    width: 16px;
    height: 16px;
}

.sliderFin
{
    width: 17%;
    border-bottom: 1px solid #f3f3f3;
}
.sliderFin div
{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px none #fe0000;
    background-color: #fe0000;
    width: 16px;
    height: 16px;
}

.sliderPunto
{
    width: 25%;
    border-bottom: 1px solid #f3f3f3;
}
.sliderPunto img
{
    border: none;
    width: 16px;
    height: 16px;
}


.sliderKm{
    font-size: 12px !important;
    color: #4986a2 !important;
    width: 20%;
}

.mi-punto-delete{
    width: 22px;
}

.mi-punto-delete button{
    width: 22px !important;
    height: 22px !important;
    padding: 1px !important;
}

.mi-punto-delete img{
    width: 16px;
    height: 16px;
}

.td1{
    width: 24px;
}
.td1 div{
    width: 24px;
}
.td2{
    width: 18px;
}
.td2 div{
    width: 18px;
}
.td3 div{
    color: #777777 !important;
    font-size: 12px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 18px;
}
.td4{
    width: 110px;
    padding-left: 10px;
}

.borde_bottom{
    border-bottom: 1px solid #dddddd;
}