/*@media only screen and  (min-width : 320px) and  (max-width: 480px)*/
/*@media screen and  (min-device-width : 320px) and (orientation: portrait),screen and  (max-device-width : 480px) and (orientation: landscape)*/
/*{*/
    /*--------------------------------------------------------------*/
    /* CABECERA*/
    /*--------------------------------------------------------------*/
    h3{
        font-size: 1.3em !important;
        line-height: 20px;
        margin: 0px !important;
        font-weight: normal; !important;
    }
    .tablacab {
        height: 45px;
    }

    .fit-content {
        top : 40px;
        bottom : 1px;
        left : 0;
        right : 0;
    }
    .img-cab-back
    {
        width: 20px;
    }
.img-cab-back-edit
{
    width: 30px;
}
    .img-cab-menu
    {
        margin-top: 5px;
        width: 30px;
    }
    .img-cab-aten
    {
        width: 40px;
    }

    /*--------------------------------------------------------------*/
    /* MENÚ */
    /*--------------------------------------------------------------*/
.ui-panel {
    width: 250px !important;
}
.mi-cab-menu {
    margin:0px 0px;
    font-size:0.8em;
    padding: 5px;
    height: 75px;
    width: 240px;
}
.mi-cab-menu img {
    width: 230px;
}
.mi-ul {
    font-size:0.8em;
    -webkit-padding-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
}
.mi-ul li {
    padding-left:10px;
}

.mi-ul li a div{
    padding: 7px 0px;
}

.mi-ul li a div div{
    padding: 0px 5px;
    margin-top: -10px;
}
.mi-ul li a div img{
    height: 20px;
}
/*--------------------------------------------------------------*/
/* carga*/
/*--------------------------------------------------------------*/
.div-loading {
    height: 50px !important;
    width: 50px !important;
}


    /*--------------------------------------------------------------*/
    /* BOTONES INICIO */
    /*--------------------------------------------------------------*/

    .divTipoInci{
        /*background-color: #71d816;*/
    }

    .divTipoInci a{
        width: 86px;
        height: 86px;
        display: inherit;
        margin: 2px 0px !important;
        text-align: center;
        text-transform: none;
        padding: 3px 1px !important;
        table-layout: fixed;
    }

    .divTipoInci a div {
        line-height: 14px;
        font-weight: normal;
        font-size: 12px;
        word-wrap: break-word;
        white-space: normal;
    }

    .divTipoInci a img {
        width: 50px;
    }


.divNotifPed {
    font-size: 12px !important;
    line-height: 10px !important;
}

.divRutasPed{
    font-size: 12px !important;
    line-height: 10px !important;
    margin-top: -30px;
}

/*--------------------------------------------------------------*/
/* BOTONES */
/*--------------------------------------------------------------*/
.div-captura-texto div{
    padding: 5px !important;
}

.div-captura-texto div label{
    font-size: 16px !important;
}

/*}*/
