/*@media only screen and  (min-width : 480px) and  (max-width: 768px)*/
/*@media screen and  (min-device-width : 480px) and (orientation: portrait),screen and  (max-device-width : 800px) and (orientation: landscape)*/
/*{*/
    /*--------------------------------------------------------------*/
    /* CABECERA*/
    /*--------------------------------------------------------------*/
    h3{
        font-size: 22px !important;
        line-height: 20px;
        margin: 0px !important;
        font-weight: normal; !important;
    }
    .tablacab {
        height: 50px;
    }

    .fit-content {
        top : 40px;
        bottom : 1px;
        left : 0;
        right : 0;
    }

.img-cab-back
{
    width: 30px;
}
.img-cab-back-edit
{
    width: 40px;
}
.img-cab-menu
{
    margin-top: 5px;
    width: 40px;
}
.img-cab-aten
{
    width: 50px;
}


/*--------------------------------------------------------------*/
    /* MENÚ */
    /*--------------------------------------------------------------*/
    .ui-panel {
        width: 290px !important;
    }
    .mi-cab-menu {
        margin:0px 0px;
        font-size:16px;
        padding: 5px;
        height: 75px;
        width: 280px;
        background-color: #ffffff;
    }
    .mi-cab-menu img {
        width: 270px;
    }
    .mi-ul {
        font-size:16px;
        -webkit-padding-start: 0px;
        margin-left: 0px;
        margin-right:0px;
        padding-left: 0px !important;
    }
    .mi-ul li {
        padding-left:10px;
    }

    .mi-ul li a div{
        padding: 10px 0px;
    }

    .mi-ul li a div div{
        padding: 0px 5px;
        margin-top: -10px;
    }
    .mi-ul li a div img{
        height: 24px;
    }
/*--------------------------------------------------------------*/
/* carga*/
/*--------------------------------------------------------------*/
.div-loading {
    height: 75px !important;
    width: 75px !important;
}

    /*--------------------------------------------------------------*/
    /* BOTONES INICIO */
    /*--------------------------------------------------------------*/
    .divTipoInci{
        /*background-color: blue;*/
    }

    .divTipoInci a{
        width: 110px;
        height: 105px;
        display: inherit;
        margin: 4px !important;
        text-align: center;
        text-transform: none;
        padding: 4px 2px !important;
        table-layout: fixed;
    }

    .divTipoInci a div {
        line-height: 17px;
        font-weight: normal;
        font-size: 15px;
        word-wrap: break-word;
        white-space: normal;
    }

    .divTipoInci a img {
        width: 70px;
    }

.divNotifPed {
    font-size: 15px !important;
    line-height: 10px !important;
}
.divRutasPed{
    font-size: 15px !important;
    line-height: 10px !important;
    margin-top: -32px;
}

/*--------------------------------------------------------------*/
/* BOTONES */
/*--------------------------------------------------------------*/
.btVerde{
    font-size: 16px !important;
}
.btRojo{
    font-size: 16px !important;
}
.ui-btn{
    font-size: 16px !important;
}

.ui-input-text input, textarea{
    font-size: 16px !important;
}

.lblTitUsuario{
    font-size: 17px !important;
}
.Lista{
    font-size: 16px !important;
}
#lvListaVehiculo li div {
    font-size: 16px !important;
}
.TituloPopUp{
    font-size: 16px !important;
}
#divNotificaciones ul li{
    font-size: 16px !important;
}
.notifTexto{
    font-size: 14px !important;
}
.notifFecha{
    font-size: 14px !important;
}
.notifImg{
    width: 30px;
}
.notifImg img{
    width: 30px;
    height: 30px;
}
.notifFichaImg {
    width: 30px;
    height: 30px;
}
.tablaRes{
    font-size: 16px !important;
}
.rutaFecha{
    font-size: 14px !important;
}
.rutaTexto{
    font-size: 14px !important;

}
.rutaDuracion{
    font-size: 14px !important;
}
.rutaFechaFicha{
    font-size: 16px !important;
}
.sliderKm{
    font-size: 14px !important;
}

.div-checkbox{
    width: 34px;
    height: 34px;
}

.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after{
    width: 20px !important;
    height: 20px !important;
}
.ui-btn.ui-checkbox-on.ui-btn-a:after{
    background-image: url('../imagenes/checkmark_20.png') !important;
}
.ui-checkbox .ui-btn{
    height: 24px !important;
    width: 24px !important;
}
.div-captura-texto div label{
    font-size: 18px !important;
}

/*}*/
