/*@media only screen and  (min-width : 768px) and  (max-width: 800px)*/
/*@media only screen and  (min-device-width : 768px) and (orientation: portrait),only screen and  (max-device-width : 1024px) and (orientation: landscape)*/
/*{*/
    /*--------------------------------------------------------------*/
    /* CABECERA*/
    /*--------------------------------------------------------------*/
    h3{
        font-size: 26px !important;
        line-height: 40px;
        margin: 0px !important;
        font-weight: normal; !important;
    }
    .tablacab {
        height: 55px;
        margin: 0px !important;
    }

    .fit-content {
        top : 55px;
        bottom : 1px;
        left : 0;
        right : 0;
    }
.img-cab-back
{
    width: 30px;
}
.img-cab-back-edit
{
    width: 40px;
}
.img-cab-menu
{
    margin-top: 5px;
    width: 40px;
}
.img-cab-aten
{
    width: 50px;
}
/*--------------------------------------------------------------*/
/* carga*/
/*--------------------------------------------------------------*/
.div-loading {
    height: 125px !important;
    width: 125px !important;
}

    /*--------------------------------------------------------------*/
    /* MENÚ */
    /*--------------------------------------------------------------*/
    .ui-panel {
        width: 440px !important;
    }
    .mi-cab-menu {
        margin:0px 0px;
        font-size:18px;
        padding: 5px;
        height: 120px;
        width: 430px;
        background-color: #ffffff;
    }
    .mi-cab-menu img {
        width: 420px;
    }
    .mi-ul {
        font-size:18px;
        -webkit-padding-start: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px !important;
    }
    .mi-ul li {
        padding-left:10px;
    }

    .mi-ul li a div{
        padding: 12px 0px;
    }

    .mi-ul li a div div{
        padding: 0px 5px;
        margin-top: -10px;
    }
    .mi-ul li a div img{
        height: 30px;
    }

    /*--------------------------------------------------------------*/
    /* BOTONES INICIO */
    /*--------------------------------------------------------------*/
    .divTipoInci{
        /*background-color: blueviolet;*/
    }

    .divTipoInci a{
        width: 180px;
        height: 185px;
        display: inherit;
        margin: 5px !important;
        text-align: center;
        text-transform: none;
        padding: 4px 2px !important;
        table-layout: fixed;
    }

    .divTipoInci a img {
        width: 130px;
    }

    .divTipoInci a div {
        line-height: 24px;
        font-weight: normal;
        font-size: 23px;
        word-wrap: break-word;
        white-space: normal;
    }

.divNotifPed {
    font-size: 20px !important;
    line-height: 15px !important;
}

.divRutasPed{
    font-size: 20px !important;
    line-height: 15px !important;
    margin-top: -46px;
}

.btVerde{
    font-size: 20px !important;
}
.btRojo{
    font-size: 20px !important;
}
.ui-btn{
    font-size: 20px !important;
}

.ui-input-text input, textarea{
    font-size: 20px !important;
}

.lblTitUsuario{
    font-size: 21px !important;
}
.Lista{
    font-size: 20px !important;
}
#lvListaVehiculo li div {
    font-size: 20px !important;
}
.TituloPopUp{
    font-size: 18px !important;
}
#divNotificaciones ul li{
    font-size: 20px !important;
}
.notifTexto{
    font-size: 18px !important;
    height: 20px !important;
}
.notifFecha{
    font-size: 18px !important;
}
.notifImg{
    width: 30px;
}
.notifImg img{
    width: 30px;
}

.tablaRes{
    font-size: 20px !important;
}
.rutaFecha{
    font-size: 18px !important;
}
.rutaTexto{
    font-size: 18px !important;
    height: 20px !important;
}
.rutaDuracion{
    font-size: 18px !important;
}
.rutaFechaFicha{
    font-size: 20px !important;
}
.sliderKm{
    font-size: 18px !important;
}
.botonGrisMasMenos {
    padding: 5px;
    width: 50px!important;
    height: 50px!important;
}
.botonGrisMasMenos img {
    width: 40px!important;
    height: 40px!important;
}
.sliderFin div
{
    width: 26px !important;
    height: 26px !important;
}
.ui-slider .ui-btn{
    width: 45px!important;
    height: 45px!important;
}
div.ui-slider {
    height: 45px !important;
}
.marcaInicio
{
    width: 22px !important;
}
.marcaInicio div
{
    width: 22px !important;;
    height: 22px !important;;
}

.marcaFin
{
    width: 22px !important;;
}
.marcaFin div
{
    width: 22px !important;;
    height: 22px !important;;
}

.marcaPunto
{
    width: 22px !important;;
}
.marcaPunto img
{
    width: 22px !important;;
    height: 22px !important;;
}
.mi-punto-delete{
    width: 44px;
}

.mi-punto-delete button{
    width: 32px !important;
    height: 32px !important;
}

.mi-punto-delete img{
    width: 24px;
    height: 24px;
    padding: 2px !important; ;
}

.td1{
    width: 36px !important;
}
.td1 div{
    width: 36px !important;
}

.td3 div{
    font-size: 18px !important;
    height: 22px !important;
}
.rutaImg{
    width: 108px;
}
.rutaImg img{
    height: 123px;
}


#inputENTRADAKM_OBSESRVACIONES{
    min-height: 160px !important;
    max-height: 160px !important;
}

.div-checkbox{
    width: 34px;
    height: 34px;
}

.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after{
    width: 20px !important;
    height: 20px !important;
}
.ui-btn.ui-checkbox-on.ui-btn-a:after{
    background-image: url('../imagenes/checkmark_20.png') !important;
}
.ui-checkbox .ui-btn{
    height: 24px !important;
    width: 24px !important;
}

.div-captura-texto div label{
    font-size: 20px !important;
}

/*}*/
