/*@media only screen and  (min-width : 800px)*/
/*@media screen and  (min-device-width : 800px) and (orientation: portrait),only screen and  (max-device-width : 1280px) and (orientation: landscape)*/
/*{*/
    /*--------------------------------------------------------------*/
    /* CABECERA*/
    /*--------------------------------------------------------------*/
h3{
    font-size: 26px !important;
    line-height: 40px;
    margin: 0px !important;
    font-weight: normal; !important;
}
.tablacab {
    height: 55px;
    margin: 0px !important;
}

.fit-content {
    top : 55px;
    bottom : 1px;
    left : 0;
    right : 0;
}
.img-cab-back
{
    width: 30px;
}
.img-cab-back-edit
{
    width: 40px;
}
.img-cab-menu
{
    margin-top: 5px;
    width: 40px;
}
.img-cab-aten
{
    width: 50px;
}

/*--------------------------------------------------------------*/
/* carga*/
/*--------------------------------------------------------------*/
.div-loading {
    height: 125px !important;
    width: 125px !important;
}

/*--------------------------------------------------------------*/
/* MENÚ */
/*--------------------------------------------------------------*/
.ui-panel {
    width: 440px !important;
}
.mi-cab-menu {
    margin:0px 0px;
    font-size:18px;
    padding: 5px;
    height: 120px;
    width: 430px;
    background-color: #ffffff;
}
.mi-cab-menu img {
    width: 420px;
}
.mi-ul {
    font-size:18px;
    -webkit-padding-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
}
.mi-ul li {
    padding-left:10px;
}

.mi-ul li a div{
    padding: 12px 0px;
}

.mi-ul li a div div{
    padding: 0px 5px;
    margin-top: -10px;
}
.mi-ul li a div img{
    height: 30px;
}

    /*--------------------------------------------------------------*/
    /* BOTONES INICIO */
    /*--------------------------------------------------------------*/
    .divTipoInci{
        /*background-color: yellow;*/
    }

    .divTipoInci a{
        width: 200px;
        height: 200px;
        display: inherit;
        margin: 5px !important;
        text-align: center;
        text-transform: none;
        padding: 4px 2px !important;
        table-layout: fixed;
    }


    .divTipoInci a div {
        line-height: 27px;
        font-weight: normal;
        font-size: 25px;
        word-wrap: break-word;
        white-space: normal;
    }

.divTipoInci a img {
    width: 130px;
}

.divNotifPed {
    font-size: 20px !important;
    line-height: 17px !important;
}
.divRutasPed{
    font-size: 20px !important;
    line-height: 15px !important;
    margin-top: -51px;
}


.div-checkbox{
    width: 34px;
    height: 34px;
}

.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after{
    width: 20px !important;
    height: 20px !important;
}
.ui-btn.ui-checkbox-on.ui-btn-a:after{
    background-image: url('../imagenes/checkmark_20.png') !important;
}
.ui-checkbox .ui-btn{
    height: 24px !important;
    width: 24px !important;
}
.div-captura-texto div label{
    font-size: 20px !important;
}

/*}*/
